

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 20px 60px;

  /* padding: 0px 30px; */
}

/* th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
}

tr:hover {
  background-color: #f5f5f5;
} */

.filter-section {
  margin: 20px 0;
  padding: 15px;
  background: #f8f9fa;
  border-radius: 5px;
}

select,
input {
  padding: 5px;
  margin: 0 10px;
}

.filter-row {
  display: flex;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.filter-row label {
  min-width: 150px;
}
.count {
  font-weight: bold;
  color: #000000;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2.5px solid black;
  max-width: 90%;
}

.search-select-container {
  display: grid;
  grid-template-columns: auto auto;
  /* column-gap: 50px; */
}

.search-select{
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.search-dropdown{
    height: 28px;
    width: 250px;
    border-radius: 0;
    cursor: pointer;
}

.search-btn{
    border:none;
    background-color: #4CAF50;
    color: white;
    padding: 5px 7px;
    width: 150px;
    height: 28px;
    cursor: pointer;

    /* margin: 10px 0; */
    
}

.search-btn-container{
    display: flex;
    flex-direction: column;
    /* margin-left: auto; */
    align-items: flex-end;
}


.multiselect {
    position: relative;
    width: 280px;
  }
  
  .selectBox {
    cursor: pointer;
  }
  
  #modelDropdownLabel {
    border: 1px solid #ccc;
    background: white;
    padding: 5px 8px;
    height: 28px;
    display: flex;
    align-items: center;
  }
  
  #checkBoxes {
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
    background: white;
    border: 1px solid #8DF5E4;
    max-height: 200px;
    overflow-y: auto;
  }


#checkBoxes label {
    display: block;
}

#checkBoxes label:hover {
    background-color: #4F615E;
    color: white;
    /* Added text color for better visibility */
}


.select-btn{
    display: flex;
    background-color: white;
    margin-left: 10px;
    height: 28px;
    width: 250px;
    border: 0.9px solid rgb(28, 27, 27);
    align-items: center;
    cursor:pointer;
    padding: 0 10px;
    justify-content: space-between;
}

.select-btn .btn-text{
    font-size: 13px;
    font-weight: 200;
}

.select-btn .arrow-down{
    display: flex;
    font-size: 9px;
    height: 14px;
    width: 14px;
    font-weight: 100;
    align-items: center;
    justify-content: center;
}

.select-btn.open + .list-items{
   
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  

}

.select-btn.open .arrow-down{
    transform: rotate(-180deg);
}

.list-items{
    position: absolute;
    z-index: 3;
    max-width: 250px;
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-8px);
    transition: 0.2s;
    border: 1px solid #9E9E9E;
}

.list-items .item{
    display: flex;
    align-items: center;
    list-style: none;
    height: 28px;
    cursor: pointer;
    padding: 0 10px;
    transition: 0.3s;
    
}

.list-items .item:hover{
    background-color: #9E9E9E;
}

.item .item-text{
    font-size: 12px;
    font-weight: 100;
    color: #333
}

.item-category{
  display: flex;
  align-items: center;
  list-style: none;
  height: 28px;
  padding: 0 10px;
  transition: 0.3s;
  background-color: #E0E0E0;
  font-size: 14px;
  font-weight: 100;
  color: #333;
}

.item-category .item-text{
  margin-left: 10px;
}

.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12px;
    width: 12px;
    /* border-radius: 4px; */
    margin-right: 6px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;

}

.item.checked .checkbox{
    background-color: #4070f4;
    border-color: #4070f4;
    border-radius: 2px;
}

.item.checked .check-icon{
    transform: scale(1)
}

.checkbox .check-icon{
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

.result{
  display: flex;
  flex-direction: column;
}

@keyframes fadeInUp {
    from{
        transform: translate3d(0, 30px, 0);
    }
    to{
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@keyframes fadeIn{
    from{
        transform: translate3d(0, 0, 0);
    }
    to{
        transform: translate3d(0,20px,0);
        opacity: 0
    }
}
